# ⚠️ Mandatory recursive exclusion
**/node_modules
**/dist

# General
node_modules
dist
*.log
*.test.*
*.spec.*
*.tsbuildinfo

# Environments and configs
.env
.env.*
.vscode
.idea

# Lockfiles
package-lock.json
yarn.lock

# Frontend output
auth-service/front-end/.env
movie-service/front-end/.env
rating-service/front-end/.env

# Optional: exclude coverage and test outputs
coverage