# General
node_modules
dist
*.log
*.test.*
*.spec.*
*.tsbuildinfo

# Entornos y configs
.env
.env.*
.vscode
.idea

# Lockfiles
package-lock.json
yarn.lock

# Output de frontends
auth-service/front-end/node_modules
auth-service/front-end/dist
auth-service/front-end/.env

movie-service/front-end/node_modules
movie-service/front-end/dist
movie-service/front-end/.env

rating-service/front-end/node_modules
rating-service/front-end/dist
rating-service/front-end/.env

# Opcional: excluir coverage y test outputs
coverage
