# ⚠️ Exclusión recursiva obligatoria
**/node_modules
**/dist

# General
node_modules
dist
*.log
*.test.*
*.spec.*
*.tsbuildinfo

# Entornos y configs
.env
.env.*
.vscode
.idea

# Lockfiles
package-lock.json
yarn.lock

# Output de frontends
auth-service/front-end/.env
movie-service/front-end/.env
rating-service/front-end/.env

# Opcional: excluir coverage y test outputs
coverage
